.skill {
  max-width: 1440px;
  margin: 32px auto;
  position: relative;
  animation: fade 2s;
  display: flex;
  z-index: 2;
  flex-direction: row;
  width: 100%;
  justify-content: space-around;
  /* opacity: 1; */
}
.card__info.night p {
  font-size: 2em;
  color: rgb(255, 255, 255);
  font-weight: normal;
}
.card__info.night h2 {
  font-size: 3em;
  color: white;
  font-weight: bold;
}
.card__info.day p {
  font-size: 2em;
  color: black(255, 255, 255);
  font-weight: normal;
}
.card__info.day h2 {
  font-size: 3em;
  color: black;
  font-weight: bold;
}
.card__info h2 {
  margin-bottom: 0.75em;
}

/* .card__info p::first-letter, .card__info h2::first-letter {
  color: #551a8b;
} */
.card__info {
  transition: 1s all;

  --border-width: 3px;
  padding: 2em;
  max-width: 360px;
  width: 100%;
  line-height: 2.5em;
  letter-spacing: 0.1em;
  background: #222;
  border-radius: 3px;
  position: relative;
  border-radius: var(--border-width);
}
.card__info::after {
  position: absolute;
  content: "";
  top: calc(-1 * var(--border-width));
  left: calc(-1 * var(--border-width));
  z-index: -1;
  width: calc(100% + var(--border-width) * 2);
  height: calc(100% + var(--border-width) * 2);
  background: linear-gradient(
    60deg,
    #ffffff,
    #394eb7,
    #3e67e9,
    #b22fa3,
    #b22fa3,
    rgb(101, 4, 121)
  );
  background-size: 300% 300%;
  background-position: 0 50%;
  border-radius: 6px;
  animation: moveGradient 4s alternate infinite;
}

@keyframes moveGradient {
  50% {
    background-position: 100% 100%;
  }
}

