section {
  padding: 32px 15px;
  background-color: #000;
  min-height: 100vh;
}
@font-face {
  font-family: Didact;
  src: url(./Fonts/TenorSans-Regular.ttf);
}
@font-face {
  font-family: Prompt;
  src: url(./Fonts/Martel-Regular.ttf);
}
@font-face {
  font-family: Exo;
  src: url(./Fonts/SquadaOne-Regular.ttf);
}
h1 {
  font-family: "Exo" !important;
}
h2 {
  font-family: "Prompt" !important;
}
p {
  font-family: "Didact" !important;
}
body {
  line-height: 0;
}

.app {
  width: 50%;
  margin: 0 auto;
  padding-top: 10%;
  transform: scale(1.2);
  transition: all 1.5s;
  word-break: normal;
}
.app.active {
  width: 100%;
  padding-top: 0;
  transform: scale(1);
}

h1:hover {
  color: white;
  transition: 1s all;
}
.app h1 {
  cursor: pointer;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
  /* margin-top: 0.3em; */
  float: left;
  font-size: 9em;
  display: flex;
  justify-content: center;
  color: rgba(255, 0, 0, 0);
  transition: 1s all;
  line-height: 1.3em;
  -webkit-animation-play-state: running;
  -moz-animation-play-state: running;
  animation-play-state: running;
  background: url(../public/Glitch.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  background-clip: text;
  animation: move-background 3s infinite linear alternate;
  -webkit-animation: move-background 3s infinite linear alternate;
  -moz-animation: move-background 3s infinite linear alternate;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  -webkit-background-clip: text;
  -moz-background-clip: text;
}
@-webkit-keyframes move-background {
  0% {
    background-size: 100%;
  }
  100% {
    background-size: 100%;
  }
}
@-moz-keyframes move-background {
  0% {
    background-position: -300px 0;
  }
  100% {
    background-position: 300px -300px;
  }
}
@keyframes move-background {
  0% {
    background-size: 100%;
  }
  100% {
    background-size: 200%;
  }
}

.app__content {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
}
.app__content h2,
.app > h2 {
  font-size: 3em;
  letter-spacing: 0.1em;
  margin-right: 24px;
  text-transform: uppercase;
  /* letter-spacing: 0.1em; */
  transition: 0.5s all;
  color: #7322be;
  text-align: center;
}
.app > p {
  margin-top: 2em;
  font-size: 2em;
}
.app__content h2:hover {
  color: white;
  text-shadow: 0 0 10px #551a8b, 0 0 20px #551a8b, 0 0 30px #551a8b,
    0 0 40px #551a8b;
  cursor: pointer;
}
.changeTheme {
  border-radius: 50%;
  background-color: #fff;
  position: absolute;
  top: 2%;
  left: 1%;
  padding: 24px;
}

.enter {
  background: linear-gradient(to right, #4d4d4d 0, white 10%, #4d4d4d 20%);
  display: block;
  text-align: center;
  margin: 0 auto;
  width: 100%;
  background-position: 0;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: shine 2s infinite linear;
  animation-fill-mode: forwards;
  -webkit-text-size-adjust: none;
  opacity: 1;
  visibility: visible;
  transition: opacity 1.5s, visibility 0s !important;
  padding-top: 0;
}
@keyframes shine {
  0% {
    background-position: 0;
  }

  100% {
    background-position: 22em;
  }
}

.hint {
  margin-top: 0 !important;
  font-size: 1em !important;
  width: 100%;
  color: #797777 !important;
  opacity: 1;
  visibility: visible;
  transition: opacity 1.5s, visibility 0s !important;
  padding-top: 0;
  text-align: center;
}
.enter__active {
  opacity: 0;
  visibility: hidden;
  transition: all 1.5s !important;
}
.enter.enter__error {
  animation: 0.1s error infinite !important;
}
@keyframes error {
  0% {
    transform: rotate(-2deg);
  }

  100% {
    transform: rotate(2deg);
  }
}

/* Fade */
@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media (max-width: 1199.98px) {
  section {
    padding: 0 calc(50% - 590px);
  }
  h1 {
    font-size: 8em !important;
  }
  h2 {
    font-size: 3em !important;
  }
  * p {
    font-size: 1.7em !important;
  }
  .card__info {
    min-width: 300px !important;
    margin-bottom: 1em;
  }
  .portfolio {
    flex-wrap: wrap;
    justify-content: center;
  }
  .portfolio > div {
    max-width: 80% !important;
    margin-right: 0 !important;
  }
}
@media (max-width: 991.98px) {
  section {
    padding: 0 calc(50% - 480px);
  }
  h1 {
    font-size: 7em !important;
  }
  h1:hover {
    color: unset !important;
  }
  h2 {
    font-size: 2.5em !important;
  }
  p {
    font-size: 1.5em !important;
  }
  .skill {
    flex-wrap: wrap;
  }
  .card__info {
    min-width: 250px !important;
    max-width: 250px !important;
  }
}

@media (max-width: 767.98px) {
  section {
    padding: 0 calc(50% - 360px);
  }
  h1 {
    font-size: 6em !important;
  }
  h2 {
    font-size: 2em !important;
  }
  p {
    font-size: 1.2em !important;
  }
  .app__content {
    flex-direction: column;
  }

  .app__content h2 {
    margin-bottom: 1em;
  }
  .enter,
  .hint {
    display: none;
  }
  .card__info {
    min-width: 250px !important;
    max-width: 250px !important;
  }
}
@media (max-width: 575.98px) {
  section {
    padding: 0 calc(50% - 270px);
  }
  h1 {
    font-size: 5em !important;
  }
  h2 {
    font-size: 1.5em !important;
  }
  p {
    font-size: 1em !important;
  }
  ul.glowingIcons {
    position: unset !important;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column-reverse;
    align-content: center;
    width: 100%;
    transform: none !important;
  }
  .glowingIcons li {
    margin-top: 1em !important;
  }
  .glowingIcons li a {
    width: 3em !important;
    height: 3em !important;
  }
  .glowingIcons svg {
    width: 2em !important;
    height: 2em !important;
  }
}
* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
}
